@import './responsive.scss';

* {
	font-family: "BIZ UDGothic", system-ui;
	font-weight: 400;
	font-style: normal;

	&:fullscreen,
	/* Standard fullscreen */
	&:-webkit-full-screen {
		/* WebKit fullscreen */
		max-width: 100%;
		width: 100%;
	}
}

body {
	max-width: 1024px;
	width: 100%;
	height: -webkit-fill-available;
	margin: auto;
	padding: 0;

	&:fullscreen,
	/* Standard fullscreen */
	&:-webkit-full-screen {
		/* WebKit fullscreen */
		max-width: 100%;
		width: 100%;
	}
}

// Container
.container-block {
	max-width: 1024px;
	width: 100%;
	margin: auto;
	padding: 0;

	&:fullscreen,
	/* Standard fullscreen */
	&:-webkit-full-screen {
		/* WebKit fullscreen */
		max-width: 100%;
		width: 100%;
	}

	// Header Section
	.header-section {
		max-width: 1024px;
		width: 100%;

		img {
			width: 100%;
			height: auto;
			margin-bottom: 30px;
		}

		.header-button {
			width: 100%;
			max-width: 250px;
			display: block;
			margin: auto;
			background-color: rgb(249, 190, 42);
			color: #fff;
			padding: 10px 15px;
			line-height: 1.5;
			text-decoration: none;
			border-radius: 15px;

			&:hover {
				background-color: #ffff00;
				color: #000;
			}

			span {
				color: #EB0202;
			}
		}
	}

	.content {
		margin-top: 30px;
		box-sizing: border-box;
		padding: 15px;
		width: 100%;
		height: auto;
		background-color: #f8d510d9;

		.content-top-text {
			display: block;
			margin: auto;
			background: url("../images/content-h1.png") no-repeat center;
			background-size: 100%;
			text-align: center;
			color: #fff;
			line-height: 30px;
			padding: 30px;
			width: 100%;
			box-sizing: border-box;

			@media screen and (max-width: $small) {
				font-size: 20px;
				line-height: 1.5;
			}
		}

		.content-box {
			background-color: #fff;
			color: #000;
			padding: 15px;
			line-height: 2;
			

			h2 {
				font-size: 32px;
				font-weight: 700;

				@media screen and (max-width: $small) {
					font-size: 20px;
				}
			}

			p {
				padding: 20px;
				font-size: 24px;

				@media screen and (max-width: $small) {
					font-size: 20px;
				}
			}
		}
	}
}

// Navbar