*{
  font-family: "BIZ UDGothic", system-ui;
  font-weight: 400;
  font-style: normal;
}

// O'zgaruvchilar
$colors: (
  "yellow": #ffff00
);
$font-size-base: 8px;
$spacing-unit: 1rem;

// Container
.container {
  max-width: 1024px;
  width: 100%;
  
  &:fullscreen, /* Standart fullscreen */
  &:-webkit-full-screen { /* WebKit fullscreen */
    max-width: 100%;
    width: 100vw;
  }
}

// Navbar
.navbar {
  width: 100%;
}

// Header Section
.header-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: $spacing-unit;

  .header-button {
    width: 100%;
    max-width: 200px; // Max o'lchamni cheklash uchun
    display: block;
  }
}
