* {
  font-family: "BIZ UDGothic", system-ui;
  font-weight: 400;
  font-style: normal;
}
*:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}
*:fullscreen, *:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}

body {
  max-width: 1024px;
  width: 100%;
  height: -webkit-fill-available;
  margin: auto;
  padding: 0;
}
body:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}
body:fullscreen, body:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}

.container-block {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 0;
}
.container-block:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}
.container-block:fullscreen, .container-block:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}
.container-block .header-section {
  max-width: 1024px;
  width: 100%;
}
.container-block .header-section img {
  width: 100%;
  height: auto;
}
.container-block .content {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: auto;
  background-color: rgba(248, 213, 16, 0.568627451);
}
.container-block .content .header-button {
  max-width: 260px;
  width: 100%;
  display: block;
  margin: auto;
  background-color: rgb(249, 190, 42);
  color: #fff;
  padding: 16px;
  line-height: 1.5;
  text-decoration: none;
  border-radius: 15px;
  font-size: 20px;
}
.container-block .content .header-button:hover {
  background-color: #ffff00;
  color: #000;
}
.container-block .content .header-button span {
  color: #EB0202;
}
.container-block .content .content-top-text {
  display: block;
  margin: auto;
  background: url("../images/content-h1.png") no-repeat center;
  background-size: 100%;
  text-align: center;
  color: rgba(43, 42, 42, 0.6666666667);
  line-height: 1.5;
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 28px;
}
@media screen and (max-width: 576px) {
  .container-block .content .content-top-text {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 768px) {
  .container-block .content .content-top-text {
    font-size: 16px;
    line-height: 1.2;
  }
}
.container-block .content .content-box {
  background-color: rgba(255, 255, 255, 0.7647058824);
  color: rgba(79, 79, 79, 0.8549019608);
  padding: 15px;
  line-height: 2;
  margin-bottom: 30px;
}
.container-block .content .content-box .box-img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .container-block .content .content-box .box-img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container-block .content .content-box .box-img {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .container-block .content .content-box .box-img {
    width: 100%;
  }
}
.container-block .content .content-box h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 2;
}
@media screen and (max-width: 576px) {
  .container-block .content .content-box h2 {
    font-size: 20px;
  }
}
.container-block .content .content-box h4 {
  color: #EB0202;
  text-align: center;
  font-size: 28px;
}
.container-block .content .content-box p {
  padding: 20px;
  font-size: 24px;
}
@media screen and (max-width: 576px) {
  .container-block .content .content-box p {
    font-size: 20px;
  }
}
.container-block .content .content-box ul {
  padding: 30px 0 10px 15px;
  box-sizing: border-box;
  color: green;
  border-top: 2px solid #EB0202;
  border-bottom: 2px solid #EB0202;
}/*# sourceMappingURL=style.css.map */