*{
  font-family: "BIZ UDGothic", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
	max-width: 1024px;
  width: 100%;
	height: 700px;
	margin: auto;
	padding: 0;
  
  &:fullscreen, /* Standart fullscreen */
  &:-webkit-full-screen { /* WebKit fullscreen */
    max-width: 100%;
    width: 100%;
  }
}
// Container
.container-block {
  max-width: 1024px;
  width: 100%;
	height: 700px;
	margin: auto;
	padding: 0;
  
  &:fullscreen, /* Standart fullscreen */
  &:-webkit-full-screen { /* WebKit fullscreen */
    max-width: 100%;
    width: 100%;
  }
}

// Navbar

// Header Section
.header-section {
  max-width: 1024px;
  width: 100%;

  .header-button {
    width: 100%;
    max-width: 250px; 
    display: block;
		margin: auto;
		justify-content: center;
		position: relative;
		background-color: rgb(249, 190, 42);
		color: #fff;
		padding: 10px 15px;
		line-height: 1.5;
		text-decoration: none;
		border-radius: 15px;
		&:hover{
			background-color: #ffff00;
			color: #000;
		}
		span{
			color:#EB0202;
		}

  }
}
