* {
  font-family: "BIZ UDGothic", system-ui;
  font-weight: 400;
  font-style: normal;
}
*:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}
*:fullscreen, *:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}

body {
  height: -webkit-fill-available;
  margin: auto;
  padding: 0;
  position: relative;
}
body:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}
body:fullscreen, body:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}

.container-block {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 0;
}
.container-block:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}
.container-block:fullscreen, .container-block:-webkit-full-screen {
  /* WebKit fullscreen */
  max-width: 100%;
  width: 100%;
}
.container-block .header-section {
  max-width: 1024px;
  width: 100%;
}
.container-block .header-section img {
  width: 100%;
  height: auto;
}
.container-block .content {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: auto;
  background-color: rgba(248, 213, 16, 0.568627451);
}
.container-block .content a {
  text-decoration: none;
  border-radius: 10px;
  /* CSS */
}
.container-block .content a .button-85 {
  width: 100%;
  display: block;
  margin: auto;
  padding: 1em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 28px;
}
@media screen and (max-width: 500px) {
  .container-block .content a .button-85 {
    font-size: 18px;
  }
}
.container-block .content a .button-85:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, rgba(0, 42, 255, 0.5921568627), #7a00ff, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  border: none;
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.container-block .content a .button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.3137254902);
  left: 0;
  top: 0;
  border-radius: 10px;
  border: none;
}
.container-block .content .content-top-text {
  display: block;
  margin: auto;
  background: url("../images/content-h1.png") no-repeat center;
  background-size: 100%;
  text-align: center;
  color: rgba(43, 42, 42, 0.6666666667);
  line-height: 1.5;
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 28px;
}
@media screen and (max-width: 500px) {
  .container-block .content .content-top-text {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 768px) {
  .container-block .content .content-top-text {
    font-size: 16px;
    line-height: 1.2;
  }
}
.container-block .content .content-box {
  background-color: rgba(255, 255, 255, 0.7647058824);
  color: rgba(79, 79, 79, 0.8549019608);
  padding: 15px;
  line-height: 2;
  margin-bottom: 30px;
}
.container-block .content .content-box .box-img {
  margin-top: 30px;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .container-block .content .content-box .box-img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container-block .content .content-box .box-img {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .container-block .content .content-box .box-img {
    width: 100%;
  }
}
.container-block .content .content-box h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 2;
}
@media screen and (max-width: 500px) {
  .container-block .content .content-box h2 {
    font-size: 20px;
  }
}
.container-block .content .content-box h4 {
  color: #EB0202;
  text-align: center;
  font-size: 28px;
  line-height: 1.5;
}
@media screen and (max-width: 500px) {
  .container-block .content .content-box h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  .container-block .content .content-box .box-br {
    display: none;
  }
}
.container-block .content .content-box p {
  padding: 20px;
  font-size: 24px;
}
@media screen and (max-width: 500px) {
  .container-block .content .content-box p {
    font-size: 20px;
  }
}
.container-block .content .content-box .content-box-ul {
  display: flex;
}
@media screen and (max-width: 500px) {
  .container-block .content .content-box .content-box-ul {
    display: block;
  }
}
.container-block .content .content-box .content-box-ul ul {
  box-sizing: border-box;
  color: green;
}
@media screen and (max-width: 500px) {
  .container-block .content .content-box .content-box-ul ul {
    padding: 30px 0 30px 25px;
  }
}
@media screen and (max-width: 768px) {
  .container-block .content .content-box .content-box-ul ul {
    padding: 30px 0 30px 25px;
  }
}
.container-block .content .content-box .content-box-ul ul li {
  font-size: 24px;
}
.container-block .content .content-box .mypage-text {
  width: 560px;
  margin: auto;
  padding: 10px;
  border: 1px solid #EB0202;
  background-color: #fff;
}
.container-block .content .content-box .mypage-text div:nth-child(1) {
  border-bottom: 1px solid #EB0202;
}
.container-block .content .content-box .mypage-text div:nth-child(2) {
  border-bottom: 1px solid #EB0202;
}
@media screen and (max-width: 500px) {
  .container-block .content .content-box .mypage-text {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .container-block .content .content-box .mypage-text {
    width: 90%;
  }
}
.container-block .footer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .container-block .footer {
    display: block;
  }
}
.container-block .footer ul {
  display: flex;
  padding: 20px 5px;
}
@media screen and (max-width: 500px) {
  .container-block .footer ul {
    padding: 0px 5px;
  }
}
.container-block .footer ul li {
  list-style: none;
  padding: 0px 5px;
}
@media screen and (max-width: 500px) {
  .container-block .footer ul li {
    padding: 0px 5px;
    font-size: 14px;
  }
}
.container-block .footer ul li a {
  text-decoration: none;
}
.container-block .footer p {
  padding: 20px 15px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .container-block .footer p {
    padding: 0px;
    font-size: 14px;
  }
}
.container-block .footer p a {
  text-decoration: none;
}

.buttonStickiy {
  height: 80px;
  display: block;
  float: right;
  position: sticky;
  bottom: 0;
  right: 200px;
  /* CSS */
}
@media screen and (max-width: 500px) {
  .buttonStickiy {
    position: sticky;
    bottom: 0;
    right: 5px;
  }
}
.buttonStickiy .button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.buttonStickiy .button-85:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.buttonStickiy .button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */